<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | PawsWeb</title>
    <link rel="icon" type="image/png" href="/images/pawsweb-icon.png">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="PawsWeb Logo" class="logo"></a>
        <nav class="nav-buttons">
            <a href="/"><button>HOME</button></a>
            <a href="aboutus"><button>ABOUT US</button></a>
            <a href="ourpets"><button>OUR PETS</button></a>
            <a href="educational"><button>EDUCATIONAL</button></a>
            <a href="faq"><button>FAQ</button></a>
        </nav>
        <a href="login"><button class="login-button">LOGIN</button></a>
    </header>

    <hr class="line">

    <main>
        <section class="about-us">
            <h1>About PawsWeb</h1>
            <p>PawsWeb is a dedicated platform aimed at connecting homeless pets with loving families. Our mission is to raise awareness about the plight of animals in shelters and to promote the adoption of pets instead of buying them from breeders or pet stores. We believe that every animal deserves a chance to live in a safe and caring environment, and our platform is designed to make the adoption process as smooth and straightforward as possible.</p>
            
            <h1>Our Vision</h1>
            <p>Our vision is to create a world where every pet has a home. By fostering a culture of adoption, we hope to reduce the number of animals in shelters and provide them with the love and care they deserve.</p>
            
            <h1>What We Do</h1>
            <p>At PawsWeb, we work closely with animal shelters and rescue organizations to list available pets on our platform. Our website features detailed profiles of each pet, including their age, breed, health status, and temperament. This information helps potential adopters make informed decisions when choosing a new furry friend.
            We also provide educational resources on pet care, responsible ownership, and the adoption process. Our goal is to support new pet owners every step of the way, ensuring that both the pets and their new families have a positive experience.</p>            
            <h1>Get Involved</h1>
            <p>If you're passionate about helping animals, there are many ways to get involved with PawsWeb. You can adopt a pet, volunteer with a local shelter, or spread the word about the importance of pet adoption. Together, we can make a difference.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 PawsWeb. All rights reserved.</p>
    </footer>
</body>
</html>
